**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [ ]:
import math
import numpy as np
eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
square=[]
for i in range(1,21):
    square.append(i**2)
print(square)

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [ ]:
import math
sqrt_=[]
for i in range(1,101):
    sqrt_.append(i**0.5)
print(sqrt_)


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
my_list=[]
for i in range(-10,1):
    my_list.append(i)
print(my_list)


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [ ]:
odds=[]
for i in range(1,101):
    if i%2!=0:
        odds.append(i)
print(odds)

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
divisible_by_seven=[]
for i in range(1,1001):
    if i%7==0:
        divisible_by_seven.append(i)
print(divisible_by_seven)

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [ ]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [ ]:
teststring = 'Find all of the words in a string that are monosyllabic'
non_vowels=[]
vowels=['a','e','i','o','u']
for i in teststring:
    non_vowels.append(i)
for i in non_vowels:
    if i in vowels:
        non_vowels.remove(i)
non_vowels=("".join(non_vowels))
print(non_vowels)

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [ ]:
capital_letters=[]
string= 'The Quick Brown Fox Jumped Over The Lazy Dog'
for i in string:
    if i.isupper():
        capital_letters.append(i)
print(capital_letters)

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [ ]:
consonants=[]
string= 'The Quick Brown Fox Jumped Over The Lazy Dog'
vow=['a','e','i','o','u']
for i in string:
    consonants.append(i)
for i in consonants:
    if i in vow:
        consonants.remove(i)
consonants=("".join(consonants))
print(consonants)

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [42]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [ ]:
import random
random_lists=[]
count=0
while count<=10:
    random_num= random.randint(1,101)

    random_lists.append(random_num)
    count+=1
    
    
    
print(random_lists)

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
#lista vacia
#navegar en listas e anadir a nueva lista
flatten_list=[]
for subl in list_of_lists:
    for num in subl:
        flatten_list.append(num)
print(flatten_list)

flatten_list2=num for num in sub

In [5]:
import random
import math
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

flatten_list2= [ num for num in sub for sub in list_of_lists]
print(flatten_list2)

NameError: name 'sub' is not defined


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [9]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [14]:
floats=[]
for subl in list_of_lists:
    for num in subl:
        floats.append(float(num))

print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [24]:
for i in ['a','b','c']:
    try:
        print(i**2)
    
    except:
        print('Somthing is wrong')

Somthing is wrong
Somthing is wrong
Somthing is wrong

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [23]:
x = 5
y = 0
try:
    z = x/y
except:
    print('Thats not possible')

Thats not possible

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [26]:
abc=[10,20,20]
try:
    print(abc[3])
except:
    print('You cannot do that')

You cannot do that

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [30]:
a=input('Enter a number: ')
b=input('Enter a number: ')
try:
    c=a/b
    
    print(c)
except TypeError:
    print('Error')
except ZeroDivisionError:
    print('No division 0')

Enter a number:
Enter a number:
Error

In [ ]:
ZeroDivisionError

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [35]:
try:
    f = open('testfile','r')
except FileNotFoundError:
    print('NO FILE')
try:        
    f.write('Test write this')
except NameError:
    print('Name not correct')

NO FILE
Name not correct

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [40]:
try:
    fp = open('myfile.txt')
except FileNotFoundError:
    print('No file')
try:
    line = f.readline()
except NameError:
    print('Wrong name')
try:
    i = int(s.strip())
except:
    print('Wrong name')

No file
Wrong name
Wrong name

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [43]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
    except:
        print('You will probably need to import sys')
        
    print('Doing something.')
linux_interaction()

You will probably need to import sys
Doing something.


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))