**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
square = [i ** 2 for i in range(0,21)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [9]:
sqrt = [i ** 2 for i in range(0,101)]
print(sqrt)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [11]:
my_list = [i for i in range(-10,1)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [15]:
odds = [i for i in range(1,101) if i % 2 == 0]
print(odds)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [16]:
divisible_by_seven = [i for i in range(1,1001) if i % 7 == 0]
print(divisible_by_seven)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [19]:
# You can use the following test string but feel free to modify at your convenience
teststring = 'Find all of the words in a string that are monosyllabic'
# esto me deber√≠a de salir: teststring = 'Fnd ll f th wrds n  strng tht r mnsyllbc'

In [35]:
non_vowels = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"

In [36]:
new_list = [char for char in teststring if char in non_vowels and non_vowels.upper()]
print(new_list)

['F', 'n', 'd', 'l', 'l', 'f', 't', 'h', 'w', 'r', 'd', 's', 'n', 's', 't', 'r', 'n', 'g', 't', 'h', 't', 'r', 'm', 'n', 's', 'y', 'l', 'l', 'b', 'c']

In [37]:
str_non_vow = ''.join(str(char) for char in new_list)
print(str_non_vow)

Fndllfthwrdsnstrngthtrmnsyllbc

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [38]:
string_cap = 'The Quick Brown Fox Jumped Over The Lazy Dog'
capital_letters = [i for i in string_cap if i.isupper()]
print(capital_letters)

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [41]:
string_cons = 'The quick brown fox jumped over the lazy dog'
consonants = [i for i in string_cons if i in non_vowels]
print(consonants)

['T', 'h', 'q', 'c', 'k', 'b', 'r', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 'd', 'v', 'r', 't', 'h', 'l', 'z', 'y', 'd', 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [95]:
import os

In [98]:
path = "/Users/narea/Desktop/ironhack/lectures"
files = [os.listdir(path)]
files

[['week-2',
  '.DS_Store',
  'images',
  'datasets',
  'installations.md',
  'README.md',
  'week-1',
  '.gitignore',
  '.ipynb_checkpoints',
  '.git',
  'cheatsheet']]

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [42]:
import random

In [51]:
random_lists_1 = [i for i in random.sample(range(0, 101), 10)]
random_lists_2 = [i for i in random.sample(range(0, 101), 10)]
random_lists_3 = [i for i in random.sample(range(0, 101), 10)]
random_lists_4 = [i for i in random.sample(range(0, 101), 10)]

In [52]:
print(random_lists_1)

[48, 99, 100, 74, 50, 78, 47, 1, 54, 45]

In [53]:
print(random_lists_2)

[22, 68, 57, 36, 78, 46, 18, 66, 81, 67]

In [55]:
print(random_lists_3)

[73, 12, 29, 28, 81, 57, 60, 49, 79, 5]

In [56]:
print(random_lists_4)

[70, 31, 57, 87, 80, 54, 5, 76, 55, 49]

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [63]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [64]:
flatten_list = [i for sublist in list_of_lists for i in sublist]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [65]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [76]:
floats = [float(i) for sublist in list_of_lists for i in sublist]
print(floats)

[40.0, 20.0, 10.0, 30.0, 20.0, 20.0, 20.0, 20.0, 20.0, 30.0, 20.0, 30.0, 20.0, 30.0, 50.0, 10.0, 30.0, 20.0, 20.0, 20.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100.0]

# Handle the exception thrown by the code below by using try and except blocks.

In [77]:
for i in ['a','b','c']:
    print i**2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i**2)? (3439384179.py, line 2)

In [81]:
for i in ['a','b','c']:
    try:
        print(i**2)
    except:
        print(f"I cannot square the element of your list {i}")

I cannot square the element of your list a
I cannot square the element of your list b
I cannot square the element of your list c

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [121]:
x = 5
y = 0

z = x/y

ZeroDivisionError: division by zero

In [123]:
try:
    z = x/y
except ZeroDivisionError:
    print(f"I cannot divide a number by {y}")

I cannot divide a number by 0

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [83]:
abc=[10,20,20]
print(abc[3])

IndexError: list index out of range

In [86]:
for char in abc:
    try:
        print(abc[3])
    except IndexError:
        print("I cannot choose an element in position 3 for a list with a lenght of 2.")

I cannot choose an element in position 3 for a list with a lenght of 2.
I cannot choose an element in position 3 for a list with a lenght of 2.
I cannot choose an element in position 3 for a list with a lenght of 2.

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [103]:
number = input("Provide a number: ")
number_2 = input("Provide another number: ")

Provide a number: 2
Provide another number: 3

In [105]:
div = number/number_2
div

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [124]:
# TypeError: unsupported operand type(s) for /: 'str' and 'str'
try:
    div = number/number_2
except TypeError as error:
    print(error)
    print("I cannot divide two strings.")

unsupported operand type(s) for /: 'str' and 'str'
I cannot divide two strings.

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [117]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [120]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError as error:
    print(error)

[Errno 2] No such file or directory: 'testfile'

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [106]:
fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())

IndentationError: unexpected indent (1269636024.py, line 2)

In [116]:
try:
    with open('myfile.txt') as file:
        line = f.readline()
        i = int(s.strip())
except:
    print("Could not open myfile.txt because it doesn't exist")
    print("The data could not be convertable to int")

Could not open myfile.txt because it doesn't exist
The data could not be convertable to int

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [94]:
import sys
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [113]:
try:
    linux_interaction()
except AssertionError as error:
    print(error)
    print('The linux_interaction() function was not executed')

Function can only run on Linux systems.
The linux_interaction() function was not executed


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))