**Example:**

eggs = (1,3,8,3,2)

my_listComprehension = [1/egg for egg in eggs]

print(my_listComprehension)

# Insert here the module/library import statements

In [1]:
import math, os, random, sys


# Calculate the square number of the first 20 numbers. Use square as the name of the list.
Remember to use list comprehensions and to print your results

In [2]:
square = [i*i for i in range(20)]

# Calculate the square root of the first 100 numbers. Use sqrt as the name of the list.
You will probably need to install math library with pip and import it in this file.

Remember to use list comprehensions and to print your results

In [3]:
sqrt = [round(math.sqrt(i),2) for i in range(100)]
sqrt

[0.0,
 1.0,
 1.41,
 1.73,
 2.0,
 2.24,
 2.45,
 2.65,
 2.83,
 3.0,
 3.16,
 3.32,
 3.46,
 3.61,
 3.74,
 3.87,
 4.0,
 4.12,
 4.24,
 4.36,
 4.47,
 4.58,
 4.69,
 4.8,
 4.9,
 5.0,
 5.1,
 5.2,
 5.29,
 5.39,
 5.48,
 5.57,
 5.66,
 5.74,
 5.83,
 5.92,
 6.0,
 6.08,
 6.16,
 6.24,
 6.32,
 6.4,
 6.48,
 6.56,
 6.63,
 6.71,
 6.78,
 6.86,
 6.93,
 7.0,
 7.07,
 7.14,
 7.21,
 7.28,
 7.35,
 7.42,
 7.48,
 7.55,
 7.62,
 7.68,
 7.75,
 7.81,
 7.87,
 7.94,
 8.0,
 8.06,
 8.12,
 8.19,
 8.25,
 8.31,
 8.37,
 8.43,
 8.49,
 8.54,
 8.6,
 8.66,
 8.72,
 8.77,
 8.83,
 8.89,
 8.94,
 9.0,
 9.06,
 9.11,
 9.17,
 9.22,
 9.27,
 9.33,
 9.38,
 9.43,
 9.49,
 9.54,
 9.59,
 9.64,
 9.7,
 9.75,
 9.8,
 9.85,
 9.9,
 9.95]


# Create this list [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0]. Use my_list as the name of the list.
Remember to use list comprehensions and to print your results

In [4]:
my_list =[i for i in range(-10,0)]
my_list

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]


# Find the odd numbers from 1-100. Use odds as the name of the list. 
Remember to use list comprehensions and to print your results

In [5]:
odd = [i for i in range(1,100) if i%2 !=0]
odd

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# Find all of the numbers from 1-1000 that are divisible by 7. Use divisible_by_seven as the name of the list.
Remember to use list comprehensions and to print your results

In [6]:
divisible_by_seven = [i for i in range(1,1000) if i%7 == 0]

divisible_by_seven

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Remove all of the vowels in a string. Hint: make a list of the non-vowels. Use non_vowels as the name of the list.
Remember to use list comprehensions and to print your results

In [7]:
# You can use the following test string but feel free to modify at your convenience

teststring = 'Find all of the words in a string that are monosyllabic'

In [8]:
new_string = ""
non_vowels = [new_string+i for i in teststring if i not in ('a','e','i','o','u','A','E','I','O','U') ]


non_vowels=" ".join(non_vowels)

non_vowels

'F n d   l l   f   t h   w r d s   n     s t r n g   t h t   r   m n s y l l b c'

# Find the capital letters (and not white space) in the sentence 'The Quick Brown Fox Jumped Over The Lazy Dog'. 
- **Use capital_letters as the name of the list.**

Remember to use list comprehensions and to print your results

In [9]:
sentence = 'The Quick Brown Fox Jumped Over The Lazy Dog'


capital_letters = [i for i in sentence if i.isupper() ]
capital_letters

['T', 'Q', 'B', 'F', 'J', 'O', 'T', 'L', 'D']

# Find all the consonants in the sentence 'The quick brown fox jumped over the lazy dog'.
 - **Use consonants as the name of the list.**
 
Remember to use list comprehensions and to print your results.

In [10]:
sentence1 = 'The quick brown fox jumped over the lazy dog'


consonants = [i for i in sentence1 if i not in ('a','e','i','o','u','A','E','I','O','U')]
consonants

['T',
 'h',
 ' ',
 'q',
 'c',
 'k',
 ' ',
 'b',
 'r',
 'w',
 'n',
 ' ',
 'f',
 'x',
 ' ',
 'j',
 'm',
 'p',
 'd',
 ' ',
 'v',
 'r',
 ' ',
 't',
 'h',
 ' ',
 'l',
 'z',
 'y',
 ' ',
 'd',
 'g']

# Find the folders you have in your madrid-oct-2018 local repo. Use files as name of the list.  

**Hint: You will probably need to import os library and some of its modules. You will need to make some online research.**

Remember to use list comprehensions and to print your results.

In [11]:
os.listdir('../madrid/oct/2018')

FileNotFoundError: [WinError 3] El sistema no puede encontrar la ruta especificada: '../madrid/oct/2018'

# Create 4 lists of 10 random numbers between 0 and 100 each. Use random_lists as the name of the list. 
**Hint: You will probably need to import random module**

Remember to use list comprehensions and to print your results

In [ ]:
random_list = [[random.randrange(0,100) for i in range (10)] for i in range(4)  ]
print(random_list)

# Flatten the following list of lists. Use flatten_list as the name of the output.

Remember to use list comprehensions and to print your results

In [ ]:
list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
flatten_list = [x for i in list_of_lists for x in i]
flatten_list


# Convert the numbers of the following nested list to floats. Use floats as the name of the list. 

Remember to use list comprehensions and to print your results.

In [ ]:
list_of_lists = [['40', '20', '10', '30'], ['20', '20', '20', '20', '20', '30', '20'], \
['30', '20', '30', '50', '10', '30', '20', '20', '20'], ['100', '100'], ['100', '100', '100', '100', '100'], \
['100', '100', '100', '100']]

In [ ]:
floats = [[float(i) for i in list_] for list_ in list_of_lists]

print(floats)

# Handle the exception thrown by the code below by using try and except blocks.

In [ ]:
for i in ['a','b','c']:
    try:
        print (i**2)
    except TypeError:
        print(f"I cannot multiply list with a float")

# Handle the exception thrown by the code below by using try and except blocks. 

Then use a finally block to print 'All Done.'

Check in provided resources the type of error you may use.

In [12]:
x = 5
y = 0
try:
    z = x/y
    print(z)
except ZeroDivisionError:
    print("cannot divide by zero")
finally:
    print("All done")

cannot divide by zero
All done

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [ ]:
abc=[10,20,20]

try:
    print(abc[3])
except IndexError:
    print('out of range')

# Handle at least two kind of different exceptions when dividing a couple of numbers provided by the user. 

**Hint: take a look on python input function.**

Check in provided resources the type of error you may use.

In [17]:
num1 = input('ingrese numero 1: ')
num2= input('ingrese numero 2: ')


try:
    result = int(num1) / int(num2)
    
except ZeroDivisionError:
    print("cannot divide by zero")
    
except ValueError:
    print("you enter a char")

ingrese numero 1: 1
ingrese numero 2: r
you enter a char

# Handle the exception thrown by the code below by using try and except blocks. 

Check in provided resources the type of error you may use.

In [18]:
f = open('testfile','r')
f.write('Test write this')

FileNotFoundError: [Errno 2] No such file or directory: 'testfile'

In [19]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except FileNotFoundError:
    print("no dir")

no dir

# Handle the exceptions that can be thrown by the code below using try and except blocks. 

**Hint: the file could not exist and the data could not be convertable to int**

In [27]:
try:
    fp = open('myfile.txt')
    line = f.readline()
    i = int(s.strip())
except FileNotFoundError:
    print("file not found")
except ValueError:
    print("the data not convertable to int")

file not found

In [26]:
x="r"
int(x)

ValueError: invalid literal for int() with base 10: 'r'

# The following function can only run on a Linux system. 
The assert in this function will throw an exception if you call it on an operating system other than Linux.

Handle this exception using **try and except** blocks.

You will probably need to import sys

In [30]:
import sys
def linux_interaction():
    assert ('linux' in sys.platform), "Function can only run on Linux systems."
    print('Doing something.')
    
linux_interaction()

AssertionError: Function can only run on Linux systems.

In [32]:
def linux_interaction():
    try:
        assert ('linux' in sys.platform), "Function can only run on Linux systems."
        print('Doing something.')
    except AssertionError:
        "Function can only run on Linux systems."
linux_interaction()


# Bonus Questions:

You will need to make some research on dictionary comprehension to solve the following questions

## Write a function that asks for an integer and prints the square of it. 

**Hint: we need to continually keep checking until we get an integer.**

Use a while loop with a try,except, else block to account for incorrect inputs.


## Find all of the numbers from 1-1000 that are divisible by any single digit besides 1 (2-9). 

Use results as the name of the list

## Define a customised exception to handle not accepted values. 

You have the following user inputs and the Num_of_sections can not be less than 2.

**Hint: Create a class derived from the pre-defined Exception class in Python**

In [ ]:
Total_Marks = int(input("Enter Total Marks Scored: ")) 
Num_of_Sections = int(input("Enter Num of Sections: "))